.admin-menu-container {
  position: relative;
  width: 18%;

  ul {
    li {
      h6 {
        margin-bottom: 0.35rem;
        opacity: 0.9;
      }

      span {
        opacity: 0.8;
      }
      &:nth-child(1) {
        background-color: #f1f1f1;
      }
      &:nth-child(2) {
        background-color: #a6cdec;
        opacity: 0.9;
      }
    }
  }
}
